body {
    margin: 0;
    font-family: 'Franklin Gothic Book', sans-serif;
    color: rgb(255, 255, 255);
}

/* nav {
    background: linear-gradient(#00A04A,#00DF67);
} */

.nav {
    background: linear-gradient(#00A04A,#00DF67);
    margin: 0;
    padding: 0 10px;
    list-style: none;
    display: flex;
}

.navitem {
    margin: 20px 10px;
}

.navitem:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menuright {
    margin-left: auto;
}
   
.cover {
    background: linear-gradient(#C4009f,#FF0000);
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: justify;
}   

.covertext {
    /* Why is this happening? */
    margin: auto;
}

.grid {
    background: linear-gradient(#60A3F3,#036FF0);
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
}

.project {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 10px;
    cursor: pointer;
    font-size: 5em;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    background: #2e2e2e;
}

.project:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);

    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

footer{
    background: linear-gradient(#FFC700,#FF9200);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.footertext:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
}